<div id="<%= dom_id prediction %>">
  <p>
    <strong>Link:</strong>
    <%= prediction.link %>
  </p>

  <p>
    <strong>Target date:</strong>
    <%= prediction.target_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= prediction.user_id %>
  </p>

</div>
