<% content_for :title, "Editing prediction" %>

<h1>Editing prediction</h1>

<%= render "form", prediction: @prediction %>

<br>

<div>
  <%= link_to "Show this prediction", @prediction %> |
  <%= link_to "Back to predictions", predictions_path %>
</div>
