<div class="hero big-hero bg-base-200 min-h-screen">
  <div class="hero-content text-center big-hero-content">
    <div class="max-w-xl">
      <h1 class="text-5xl font-bold"><%= image_tag "P.A.M_v1.png" %> P.A.M.</h1>
      <h2 class="text-2xl mt-4">Prediction Accountability Machine</h2>
      <p class="py-6 text-justfy">
        Tired of people making terrible predictions and never being held accountable? P.A.M. is here to change that!
        <br /><br />
        Fill out the form below with a link to the prediction and we will remind you when it's time to check if they were right or wrong!
      </p>
      <%= render "predictions/new" %>
    </div>
  </div>
</div>