@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

.big-hero {
}

.big-hero-content {
  width: 100%;
}

.big-hero label {
  @apply text-xl font-semibold;
  margin-top: 2rem;
  color: var(--text-base);
}

.big-hero input {
  width: 100%;
}